.header {
    position: fixed;
    width: 100%;
    height: 10rem;
    left: 0px;
    top: 0px;
    background-color: var(--background);
    display: flex;
    border-bottom: 10px var(--gray) solid;
}

.header h1 {
    height: fit-content;
    width: 60%;
    padding: 0 2rem 0 4rem;
    box-sizing: border-box;
    text-align: left;
    margin: auto 0;    
}

.header img {
    max-height: 100%;
    max-width: 100%;

}

.menu {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
    padding-right: 5%;
}

.menu .user {
    color: var(--red);
    display: flex;
    align-items: flex-end;
}

.menu .user:hover {
    color: var(--red-contrast);
    cursor: pointer;
}

i.fa-solid {
    font-size: 1.5rem;
    padding: 0.5rem;
}

h4 {
    font-family: var(--font-bebas);
    font-size: 1.5rem;
    margin: auto 0;
    text-align: center;
}

.wish-list {
    color: var(--white);
    padding: 0 1rem;
}

.wish-list:hover {
    color: var(--red-contrast);
    cursor: pointer;
}

.btn-cart {
    display: flex;
    padding: 0.5rem;
    background-color: var(--gray);
    color: var(--white);
    border-radius: 1rem;
    border-color: var(--gray);
    align-items: center;
    text-align: center;
}

.btn-cart:hover {
    background-color: var(--red-contrast);
    border-color: var(--red-contrast);
    cursor: pointer;
}

.btn-cart h4 {
    padding: 0 0.5rem;
}
