.comicContainer {
    margin: 4rem;
    margin-top: 10rem;
}

.comicContainer .tipe {
    font-family: var(--font-bebas);
    font-size: 2.5rem;
    color: var(--white);
    margin-bottom: 2rem;
}

.comics {
    display: flex;
}


