.comicContainer {
    margin: 4rem;
    margin-top: 10rem;    
    background-color: red;
}

.comicContainer h3 {
    font-family: var(--font-bebas);
    font-size: 2.5rem;
    color: var(--white);
    margin-bottom: 2rem;
}

.comicContainer ul {
    background-color: aqua;
    margin: 2rem;
}


.comicContainer li {
    padding: 0;
    max-width: fit-content;
}


