.header {
    position: fixed;
    width: 100%;
    height: 6rem;
    left: 0px;
    top: 0px;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    border-bottom: 10px var(--gray) solid;
    box-sizing: border-box;
    z-index: 100;
}

.header a {
    text-decoration: none;
}

.header a.logo {
    height: 100%;
    width: 60%;
}

.header .logo h1 {
    padding: 1rem 2rem 1rem 5rem;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: auto 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header .logo h1 img {
    max-height: 100%;
    max-width: 100%;
}

.header .menu {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
    padding-right: 5%;
}

.header .menu .user {
    color: var(--red);
    display: flex;
    align-items: flex-end;
}

.header .menu .user:hover {
    color: var(--red-contrast);
    cursor: pointer;
}

.header .menu .user i,
.header .menu .btn-cart i {
    font-size: 1.3rem;
    padding-left: 0.5rem;
    margin: auto 0;
}

.header .menu .user h4,
.header .menu .wish-list a h4,
.header .menu .btn-cart h4 {
    font-family: var(--font-bebas);
    font-size: 1.3rem;
    margin: auto 0;
    text-align: center;
    padding: 0 0.5rem;
}

.header .menu .wish-list a i {
    display: none;
}

.header .menu .wish-list a h4 {
    color: var(--white);
    padding: 0 1rem;
}

.header .menu .wish-list a h4:hover {
    color: var(--red-contrast);
    cursor: pointer;
}

.header .menu button {
    display: flex;
    padding: 0.5rem;
    background-color: var(--gray);
    color: var(--white);
    border-radius: 1rem;
    border-color: var(--gray);
    align-items: center;
    text-align: center;
}

.header .menu button:hover {
    background-color: var(--red-contrast);
    border-color: var(--red-contrast);
    cursor: pointer;
}

.header .menu button h3 {
    padding: 0 0.5rem;
}



/*Responsividade*/
@media (max-width: 839px) {
    .header .logo {
        width: 100%;
        display: block;
    }

    .header .logo h1 {
        width: 100%;
        padding: 1rem 0;
        margin: 0;
    }

    .header .logo h1 img {
        margin: 0 auto;
        width: 100%;
    }

    .header .menu {
        position: fixed;
        width: 100%;
        height: fit-content;
        left: 0px;
        bottom: 0px;
        background-color: var(--gray);
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        z-index: 100;
        padding: 0;
        padding-bottom: 1rem;
    }

    .header .menu .user,
    .header .menu .wish-list,
    .header .menu .btn-cart {
        width: calc(100% / 3);
        color: var(--white);
        text-align: center;
        padding: 0;
        background-color: none;
        border: none;
    }

    .header .menu .user h4,
    .header .menu .wish-list a h4,
    .header .menu .btn-cart h4 {
        display: none;
    }

    .header .menu .user i,
    .header .menu .wish-list a i,
    .header .menu .btn-cart i {
        display: block;
        font-size: 1.3rem;
        padding: 1rem 0.5rem 0 0.5rem;
        margin: 0 auto;
        border-top: 5px solid var(--gray);
        color: white;
        width: fit-content;
    }

    .header .menu .user i:hover,
    .header .menu .wish-list a i:hover,
    .header .menu .btn-cart i:hover {
        border-top: 5px solid var(--red);
        color: var(--white);
        cursor: pointer;
    }

    .header .menu .btn-cart:hover {
        background-color: var(--gray);
        border: none;
    }
}